.channel-jumbo {
}

.channel-jumbo>h1.channel-title {
  font-size: 3.5em;
}

.channel-description {
}

.channel-img {
  width: 8em;
  height: 8em;
  margin: 0 1em 1em 0;
}

.channel-jumbo>.progress {
  border: solid lightgray 1px;
}
