.channel-combo {
}

.channel-snippet {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.channel-snippet.list-group-item {
  padding: 0.1em 0.5em;
}

.channel-snippet:hover {
  background-color: lightsteelblue;
}

.channel-snippet-img {
  height: 2em;
  margin-right: 0.5em;
}
