body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.locale-selector-container {
  position: absolute;
  opacity: 0.3;
  z-index: 10;
}

.locale-selector-container:hover {
  opacity: initial;
}

.locale-selector {

}
